.header{
    margin-bottom: 3%;
}

.card-img-top{
	width: 100%;
}

.card{
    border: 10px solid;
    border-radius: 10px;
}

body{
    background-image: url(img/background3.png);
}

.card-columns{
    margin-left: 10%
}

.footer{
    margin-top: 0%;
    background: #fbb92f;
    padding: 5%;
    padding-left: 10%;
    width: 100%;
    font-size: 25pt;
}

#CN{
    width: 65%;
    height: 65%;
}

#PP{
    height: 90%;
    width: 90%;
}

.card-columns::after, ::before {
    box-sizing: content-box;
}